master/pipeline/setvariable_pl.json
{
	"name": "setvariable_pl",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "time",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "day",
					"value": {
						"value": "@dayOfMonth(variables('time'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"time": {
				"type": "String"
			},
			"id": {
				"type": "Integer"
			},
			"day_of_week": {
				"type": "String"
			},
			"day": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-04T16:12:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}