roopachekuri/pipeline/append_variable.json
{
	"name": "append_variable",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": "customer,address,orders,sales"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "name",
					"value": {
						"value": "@variables('file_name')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"file_name": {
				"type": "Array"
			},
			"name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-04T16:32:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}